@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oregano&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2f4;
  overflow-x: hidden;
}

.title {
  font-family: "Oregano", cursive;
}

.gradient {
  background: linear-gradient(
    90deg,
    #696969 18.81%,
    rgba(105, 105, 105, 0) 127.87%
  );
}

/* BURGER MENU & ANIMATION */
.menu-btn {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.menu-btn > div {
  background-color: black;
  width: 28px;
  height: 3px;
  margin: 3px;
  border-radius: 100px;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
  transition: all 400ms ease-in-out;
}

.open:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
  transition: all 400ms ease-in-out;
}

.close:nth-child(1) {
  transform: rotate(0) translateY(0);
  transition: all 400ms ease-in-out;
}

.close:nth-child(2) {
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.close:nth-child(3) {
  transform: rotate(0) translateY(0);
  transition: all 400ms ease-in-out;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-calendar {
  background: #272d32 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 13px !important;
  padding: 10px !important;
  font-family: "Poppins", sans-serif !important;
  width: 300px !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #fff !important;
}
